<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subscriptions</key>
	<dict>
		<key>com.elsevier.gmr.clinicsreview.iap01</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap02</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap03</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap04</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap05</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap06</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap07</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap08</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap09</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap10</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap11</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap12</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap13</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap14</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap15</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap16</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap17</key>
		<integer>17</integer>
		<key>com.elsevier.gmr.clinicsreview.iap18</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap19</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap20</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap21</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap22</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap23</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap24</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap25</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap26</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap27</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap28</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap29</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap30</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap31</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap32</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap33</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap34</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap35</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap36</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap37</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap38</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap39</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap40</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap41</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap42</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap43</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap44</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap45</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap46</key>
		<integer>365</integer>
		<key>com.elsevier.gmr.clinicsreview.iap47</key>
		<integer>365</integer>
		<key>com.kiwitech.201203.ns2.autorenew1</key>
		<integer>365</integer>
		<key>com.kiwitech.201203.ns3.autorenew1</key>
		<integer>365</integer>
		<key>com.kiwitech.201203.autorenew3</key>
		<integer>365</integer>
	</dict>
</dict>
</plist>
